.selector-box {
    z-index: 99;
    position: absolute;
    border-radius: 5%;
    font-weight: bold;
    color: white;
    background: rgba(117, 113, 113, 0.9);
}

.selector-box-text {
    color: black;
}

.selector-box-menu {
    width: 250px;
    transition: width 1s;
    cursor: initial;
    padding: 5px;
    overflow-y: auto;
    top: -8px;
    height: 300px;
    left: 36px;
    position: absolute;
}

.selector-box-content {
    font-weight: normal;
    text-align: left;
}

.selector-box-input {
    color: white;
    border: 1px solid black;
    background: rgba(117, 113, 113, 0.9);
}

.selector-input {
    display: block;
    margin-top: 5px;
}

.selector-box-section {
    width: 32px;
    height: 32px;
    margin: 2px 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 0px;
    line-height: 32px;
    display: block;
    transition: width .05s, transform .1s;
}

.selector-box-section-hidden {
    display: none;
}

.selector-box-section:hover .selector-box-section-hidden {
    display: inline;
}

.selector-box-menu-section-box:hover {
    width: 92px;
}

.selector-box-section:hover {
    width: 92px;
    transform: translateX(-60px);
}

.selector-box-menu-sections {
    position: absolute;
}


.selector-box-main {
    cursor: all-scroll;
    width: 32px;
    height: 32px;
    margin: 3px 0;
    text-align: center;
    position: absolute;
    left: 0px;
    top: -8px;
    line-height: 32px;
    display: block;
}

.selector-box-color {
    background-color: rgb(128, 128, 128, .9);
    border: none;
    height: 32px;
    width: 32px;
}

.selector-box-menu-section-box {
    width: 32px;
    height: 32px;
    margin: 2px 0;
    top: -168px;
    text-align: center;
    cursor: pointer;
    color: white;
    left: 300px;
    line-height: 32px;
    display: block;
    z-index: 99;
    position: relative;
    border-radius: 5%;
    font-weight: bold;
    background: rgba(117, 113, 113, 0.9);
    transition: width .05s,
        transform .1s;
}

.selector-box-menu-section-box:hover .selector-box-section-hidden {
    display: inline;
}

.selector-box-title {
    font-size: 22px;
}

.btn-selected {
    width: 48px;
    transform: translateX(-16px);
}

.btn-menu-selected {
    width: 48px;
}